modules = ["python-3.11"]
[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 38244318

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python hub.py --input_file=sample.txt"
