modules = ["nodejs-20", "python-3.11"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PyWrite App"

[[workflows.workflow]]
name = "PyWrite App"
mode = "parallel"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m streamlit run streamlit_pywrite.py --server.port=5000 --server.address=0.0.0.0"
waitForPort = 5000

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "python -m streamlit run streamlit_pywrite.py --server.port=5000 --server.address=0.0.0.0"]

[[ports]]
localPort = 54545
externalPort = 80
